**Homework 5**

(1) In this part, we will predict the number of applications received
using the other variables in the $\it{College}$ data set.

In [7]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import RidgeCV, LassoCV
from sklearn import preprocessing

Load the 'College.csv' data set

In [14]:
#df = pd.read_csv('..')
#load the 'College.csv' file here
df = pd.read_csv('College.csv')
df.head(5)
df.isnull().sum().sum()

,Unnamed: 0,Private,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
0,Abilene Christian University,Yes,1660,1232,721,23,52,2885,537,7440,3300,450,2200,70,78,18.1,12,7041,60
1,Adelphi University,Yes,2186,1924,512,16,29,2683,1227,12280,6450,750,1500,29,30,12.2,16,10527,56
2,Adrian College,Yes,1428,1097,336,22,50,1036,99,11250,3750,400,1165,53,66,12.9,30,8735,54
3,Agnes Scott College,Yes,417,349,137,60,89,510,63,12960,5450,450,875,92,97,7.7,37,19016,59
4,Alaska Pacific University,Yes,193,146,55,16,44,249,869,7560,4120,800,1500,76,72,11.9,2,10922,15

(a) Split the data set into a training set and a test set.

In [13]:
df = df.drop("Unnamed: 0",axis=1)
df = pd.get_dummies(df)

# define dataset
X = df.drop('Apps',axis=1)
y = df['Apps']

# scale the feature, Use StandardScaler method
scaler = preprocessing.StandardScaler()
X_scaler = scaler.fit_transform(X)

# Split the Training and Test dataset
X_train, X_test, y_train, y_test = train_test_split(X_scaler, y, test_size=0.3, random_state=5)

(b) Fit a linear model using least squares on the training set, and
report the test error obtained.

(c) Fit a ridge regression model on the training set, with $\lambda$ chosen
by cross-validation. Report the test error obtained.

(d) Fit a lasso model on the training set, with $\lambda$ chosen by crossvalidation.
Report the test error obtained, along with the number
of non-zero coefficient estimates.

(e) Comment on the results obtained. How accurately can we predict the number of college applications received? Is there a significant differnce among the test errors resulting from these three approaches?

(2) In this part, we will use logistic regression and KNN classifier on the *Weekly* dataset.

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

import statsmodels.api as sm 
from patsy import dmatrices

%matplotlib inline

Load the 'Weekly.csv' data set.

In [10]:
#df = pd.read_csv('..')
#load the 'Weekly.csv' file here
df = pd.read_csv('Weekly.csv')

(a) Produce some numerical and graphical summaries of the *Weekly*
data. Do there appear to be any patterns?

(b) Use the full data set to perform a logistic regression with
Direction as the response and the five lag variables plus Volume
as predictors. Use the summary function to print the results. Do
any of the predictors appear to be statistically significant? If so,
which ones?

(c) Fit the logistic regression model using a training data period
from 1990 to 2008, with Lag2 as the only predictor. Compute the overall fraction of correct predictions
for the held out data (that is, the data from 2009 and 2010).

(d) Repeat (c) using KNN classifier with *K*=1 and *K*=10.